In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [2]:
con = sqlite3.connect('data/db1')
cur = con.cursor()
def select(sql):
    return pd.read_sql(sql, con)

## Создание таблицы

In [3]:
sql ='''
CREATE TABLE trip(
    trip_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR(30),
    city VARCHAR(25),
    per_diem DECIMAL(8, 2),
    date_first DATE,
date_last DATE
                 );
INSERT INTO trip(name,
                 city,
                 per_diem,
                 date_first,
                 date_last)
VALUES ("Баранов П.Е.", "Москва", 700, 2020 - 01 - 12, 2020 - 01 - 17),
       ("Абрамова К.А", "Владивосток", 450, 2020 - 01 - 14, 2020 - 01 - 27),
       ("Семенов И.В", "Москва", 700, 2020 - 01 - 23, 2020 - 01 - 31),
       ("Ильиных Г.Р", "Владивосток", 450, 2020 - 01 - 12, 2020 - 02 - 02),
       ("Колесов С.П", "Москва", 700, 2020 - 02 - 01, 2020 - 02 - 06),
       ("Баранов П.Е", "Москва", 700, 2020 - 02 - 14, 2020 - 02 - 22),
       ("Абрамова К.А", "Москва", 700, 2020 - 02 - 23, 2020 - 03 - 01),
       ("Лебедев Т.К", "Москва", 700, 2020 - 03 - 03, 2020 - 03 - 06),
       ("Колесов С.П", "Новосибирск", 450, 2020 - 02 - 27, 2020 - 03 - 12),
       ("Семенов И.В", "Санкт-Петербург", 700, 2020 - 03 - 29, 2020 - 04 - 05),
       ("Абрамова К.А", "Москва", 700, 2020 - 04 - 06, 2020 - 04 - 14),
       ("Баранов П.Е", "Новосибирск", 450, 2020 - 04 - 18, 2020 - 05 - 04),
       ("Лебедев Т.К", "Томск", 450, 2020 - 05 - 20, 2020 - 05 - 31),
       ("Семенов И.В", "Санкт-Петербург", 700, 2020 - 06 - 01, 2020 - 06 - 03),
       ("Абрамова К.А", "Санкт-Петербург", 700, 2020 - 05 - 28, 2020 - 06 - 04),
       ("Федорова А.Ю", "Новосибирск", 450, 2020 - 05 - 25, 2020 - 06 - 04),
       ("Колесов С.П", "Новосибирск", 450, 2020 - 06 - 03, 2020 - 06 - 12),
       ("Федорова А.Ю", "Томск", 450, 2020 - 06 - 20, 2020 - 06 - 26),
       ("Абрамова К.А", "Владивосток", 450, 2020 - 07 - 02, 2020 - 07 - 13),
       ("Баранов П.Е", "Воронеж", 450, 2020 - 07 - 19, 2020 - 07 - 25)
;
'''
cur.executescript(sql)
con.commit()

In [4]:
sql ='''
select * from trip
'''
select(sql)

    trip_id          name             city  per_diem  date_first  date_last
0         1  Баранов П.Е.           Москва       700        2007       2002
1         2  Абрамова К.А      Владивосток       450        2005       1992
2         3   Семенов И.В           Москва       700        1996       1988
3         4   Ильиных Г.Р      Владивосток       450        2007       2016
4         5   Колесов С.П           Москва       700        2017       2012
5         6   Баранов П.Е           Москва       700        2004       1996
6         7  Абрамова К.А           Москва       700        1995       2016
7         8   Лебедев Т.К           Москва       700        2014       2011
8         9   Колесов С.П      Новосибирск       450        1991       2005
9        10   Семенов И.В  Санкт-Петербург       700        1988       2011
10       11  Абрамова К.А           Москва       700        2010       2002
11       12   Баранов П.Е      Новосибирск       450        1998       2011
12       13   Лебедев Т.К            Томск       450        1995       1984
13       14   Семенов И.В  Санкт-Петербург       700        2013       2011
14       15  Абрамова К.А  Санкт-Петербург       700        1987       2010
15       16  Федорова А.Ю      Новосибирск       450        1990       2010
16       17   Колесов С.П      Новосибирск       450        2011       2002
17       18  Федорова А.Ю            Томск       450        1994       1988
18       19  Абрамова К.А      Владивосток       450        2011       2000
19       20   Баранов П.Е          Воронеж       450        1994       1988

## Задания

### Вывести информацию о командировках тех сотрудников, фамилия которых заканчивается на букву «а».
Вывести из таблицы trip информацию о командировках тех сотрудников, фамилия которых заканчивается на букву «а», в отсортированном по убыванию даты последнего дня командировки виде. В результат включить столбцы name, city, per_diem, date_first, date_last.

### Вывести в алфавитном порядке фамилии, имена и отчества тех сотрудников, которые были в командировке в Москве.

### Для каждого города посчитать, сколько раз сотрудники в нем были.

### Вывести два города, в которых чаще всего были в командировках сотрудники.

### Вывести информацию о длительности командировок сотрудников.

### Вывести информацию о командировках сотрудника(ов), которые были самыми короткими по времени.

### Вывести информацию о командировках, начало и конец которых относятся к одному месяцу.

### Вывести номер месяца и количество командировок, первый день которых приходился на этот месяц.

### Вывести сумму суточных  для командировок сотрудников.

### Вывести фамилию с инициалами и общую сумму суточных, полученных за все командировки для тех сотрудников, которые были в командировках больше чем 3 раза.